body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50em;
  box-sizing: border-box;
}

.contoure {
  backdrop-filter: blur(20px);
  border-radius: 10px;
  background: transparent;
  display: contents;
  justify-content: center;
  border: 10px double #000;
  height: auto;
  width: auto;
  color: black;
}

.cartouche button,
.cartouche input {
  width: 100%;
}
