body{
    text-align: center;
    align-content: center;
    background-image: url("tendGodIMG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Bodoni MT", sans-serif;
    background-attachment: fixed;

}
main {
    flex-grow: 1;  /* Permet de remplir l'espace restant */
    display: flex;
    align-items: center;  /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
    min-height: 100vh; /* Ajustez les hauteurs du header et footer ici */
}

.tenIMG{
    float: left;
    margin-right: 2%;
}

.tenIMG2{
    float: right;
    margin-right: 2%;
}

@media (min-width: 1024px) { /* pour les écrans d'ordinateurs*/
    .tenIMG {
        width: 20%;
    }
    .tenIMG2 {
        width: 20%;
    }
    body    {
        font-size: 150%;

    }
}

/* Pour les téléphones portables */
    @media (max-width: 768px) {
        .tenIMG {
            width: 40%;

        }.tenIMG2 {
             width: 40%;
         }

        body{
            width: 100%;
        }
    }

    .tenDiv{
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 1px 20px burlywood;
        background-color: rgba(255, 255, 255, 0.1);

        backdrop-filter: blur(20px);

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tenText{
        margin-right: 2%;
        margin-left: 2%;
        text-align: center;
    }


