footer{

}
.footerhaut{
    display: flex;
    box-shadow: 1px 1px 20px black;
    justify-content: space-between;
    width: 100%;
    background-color: beige;

}
.footerbas{
    display: flex;
    color: black;
    flex-direction: column;
    width: 100%;
    background-color: beige;
}