.dropbtn {
    background-color: #A23F3F;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
.dropbtn:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}

/* Container du dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

/* Contenu du dropdown (initialement caché) */
.dropdown-content {
    display: none; /* Masqué par défaut */
    position: absolute; /* Position absolue par rapport à la dropdown */
    right: 0;
    background-color: rgba(170,31,89,255); /* Couleur de fond du menu */
    min-width: 160px; /* Largeur minimale */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Ombre */
    z-index: 1; /* S'assurer que le menu est par-dessus les autres éléments */
    border-radius: 8px; /* Coins arrondis */
    overflow: hidden; /* Cache les éléments en débordement */
}

/* Lien dans le dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px; /* Taille du texte */
    transition: background-color 0.3s ease;
}

/* Changer la couleur au survol */
.dropdown-content a:hover {
    background-color: #a09f9f;
}

/* Afficher le contenu du dropdown lorsque la souris est au-dessus du bouton */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Changer la couleur du bouton quand on le survole */
.dropdown:hover .dropbtn {
    background-color: #801515;
}
.btn {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #c0504d;
    border-radius: 50px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;

}


.btn:hover {
    padding: 10px;
    color: #eeece1;
    background-color: #632423;
    box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    -moz-box-shadow: 1px 1px 4px #000000;
}
header{
    top: 0;
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    max-height: 10%;
}
.logo{
    width: 50px;
}