header{
    display: flex;
    border: solid;
    box-shadow: 1px 1px 20px black;
    color: white;
    justify-content: space-between;
    width: 100%;
    background-color: beige;
}
.connection{
    border-radius: 50%;
}