body{
    text-align: center;
    align-content: left;
    background-image: url("tendGodIMG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Bodoni MT";
    min-height: 100vh;
    flex-grow: 1;
}

.box{
    background-color: darksalmon;
    border: solid;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;

}

#drop_zone{
    background-color: white;
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: 16px;
    color: #666;
}

.message{
    justify-content:left;
    align-items: flex-start;
}

#drop_zone.hover{
    border-color: black;
    background-color: #f1f1f1;
}

#preview {
    max-width: 200px;
    display: none;
}