body{
    text-align: center;
    align-content: center;
    background-color: red;
    flex-wrap: wrap;
}


.box{
    background-color: darksalmon;
    border: solid;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;

}header{
     top: 0;
     display: flex;
     border: solid;
     box-shadow: 1px 1px 20px black;
     color: white;
     justify-content: space-between;
     width: 100%;
     background-color: beige;
     position: sticky;
 }