body{
    text-align: center;
    align-content: center;
    background-color: red;
    flex-wrap: wrap;
}


.box{
    background-color: darksalmon;
    border: solid;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;

}

header{
    top: 0;
    display: flex;
    border: solid;
    box-shadow: 1px 1px 20px black;
    color: white;
    justify-content: space-between;
    width: 100%;
    background-color: beige;
    position: sticky;
}

.btn {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #c0504d;
    border-radius: 50px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;

}


.btn:hover {
    padding: 10px;
    color: #eeece1;
    background-color: #632423;
    box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    -moz-box-shadow: 1px 1px 4px #000000;
}