body {
  text-align: center;
  align-content: center;
  background-image: url("tendGodIMG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Bodoni MT", sans-serif;
  min-height: 100vh;
  flex-grow: 1;
  background-attachment: fixed;
}

table {
  padding: 5px;
  border-radius: 10px;
  background-color: bisque;
  border-color: bisque;
}

th,
td {
  border: 1px solid black;
}

th {
  background-color: #c0504d;
  color: white;
  border-radius: 10px;
}

td {
  padding: 0;
}
